.version.stagefree /* version checker */
{
	color: #0000FE;
	background-color: #42FBF3;
}

@-ms-viewport
{
	width: 382px;
}

@-webkit-viewport
{
	width: 382px;
}

@-o-viewport
{
	width: 382px;
}

@-moz-viewport
{
	width: 382px;
}

@viewport
{
	width: 382px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 365px;
	min-height: 428px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #F7931E;
	background-color: transparent;
	margin-top: -1px;
	padding: 71px 7px 71px 8px;
}

#u1346-287
{
	z-index: 2;
	width: 365px;
	min-height: 446px;
	background-color: transparent;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	left: -1px;
	position: relative;
}

#u1346-2,#u1346-3,#u1346-5,#u1346-6,#u1346-8,#u1346-9,#u1346-11,#u1346-12,#u1346-14,#u1346-15,#u1346-17,#u1346-18,#u1346-20,#u1346-21,#u1346-23,#u1346-24,#u1346-26,#u1346-27,#u1346-29,#u1346-30,#u1346-32,#u1346-33,#u1346-35,#u1346-36,#u1346-38,#u1346-39,#u1346-41,#u1346-42,#u1346-44,#u1346-45,#u1346-47,#u1346-48,#u1346-50,#u1346-52,#u1346-53,#u1346-55,#u1346-56,#u1346-58,#u1346-59,#u1346-61,#u1346-62,#u1346-64,#u1346-65,#u1346-67,#u1346-68,#u1346-70,#u1346-71,#u1346-73,#u1346-74,#u1346-76,#u1346-77,#u1346-79,#u1346-80,#u1346-82,#u1346-83,#u1346-85,#u1346-86,#u1346-88,#u1346-89,#u1346-91,#u1346-92,#u1346-94,#u1346-95,#u1346-97,#u1346-98,#u1346-100,#u1346-101,#u1346-103,#u1346-104,#u1346-106,#u1346-107,#u1346-109,#u1346-110,#u1346-112,#u1346-113,#u1346-115,#u1346-116,#u1346-118,#u1346-119,#u1346-121,#u1346-122,#u1346-124,#u1346-125,#u1346-127,#u1346-128,#u1346-130,#u1346-131,#u1346-133,#u1346-134,#u1346-136,#u1346-137,#u1346-139,#u1346-140,#u1346-142,#u1346-143,#u1346-145,#u1346-146,#u1346-148,#u1346-149,#u1346-151,#u1346-153,#u1346-154,#u1346-156,#u1346-157,#u1346-159,#u1346-160,#u1346-162,#u1346-163,#u1346-165,#u1346-166,#u1346-168,#u1346-169,#u1346-171,#u1346-172,#u1346-174,#u1346-175,#u1346-177,#u1346-178,#u1346-180,#u1346-181,#u1346-183,#u1346-184,#u1346-186,#u1346-187,#u1346-189,#u1346-190,#u1346-192,#u1346-193,#u1346-195,#u1346-196,#u1346-198,#u1346-199,#u1346-201,#u1346-202,#u1346-204,#u1346-205,#u1346-207,#u1346-208,#u1346-210,#u1346-211,#u1346-213,#u1346-214,#u1346-216,#u1346-217,#u1346-219,#u1346-220,#u1346-222,#u1346-223,#u1346-225,#u1346-226,#u1346-228,#u1346-229,#u1346-231,#u1346-232,#u1346-234,#u1346-235,#u1346-237,#u1346-238,#u1346-240,#u1346-241,#u1346-243,#u1346-244,#u1346-246,#u1346-247,#u1346-249,#u1346-250,#u1346-252,#u1346-253,#u1346-255,#u1346-257,#u1346-258,#u1346-260,#u1346-261,#u1346-263,#u1346-264,#u1346-266,#u1346-267,#u1346-269,#u1346-270,#u1346-272,#u1346-273,#u1346-275,#u1346-276,#u1346-278,#u1346-279,#u1346-281,#u1346-282,#u1346-284
{
	text-align: justify;
	text-indent: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

body
{
	position: relative;
	min-width: 382px;
}

#page .verticalspacer
{
	clear: both;
}

