.version.stagefour /* version checker */
{
	color: #0000E5;
	background-color: #458723;
}

@-ms-viewport
{
	width: 382px;
}

@-webkit-viewport
{
	width: 382px;
}

@-o-viewport
{
	width: 382px;
}

@-moz-viewport
{
	width: 382px;
}

@viewport
{
	width: 382px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 338px;
	min-height: 428px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #F7931E;
	background-color: transparent;
	margin-top: -1px;
	padding: 71px 17px 71px 25px;
}

#u1347-223
{
	z-index: 2;
	width: 338px;
	background-color: transparent;
	text-align: justify;
	text-indent: 5px;
	font-family: ubuntu, sans-serif;
	position: relative;
}

#u1347-2
{
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 400;
}

#u1347
{
	text-decoration: underline;
}

#u1347-3,#u1347-5,#u1347-6,#u1347-8,#u1347-9,#u1347-11,#u1347-12,#u1347-14,#u1347-15,#u1347-17,#u1347-18,#u1347-20,#u1347-21,#u1347-23,#u1347-24,#u1347-26,#u1347-27,#u1347-29,#u1347-30,#u1347-32,#u1347-33,#u1347-35,#u1347-36,#u1347-38,#u1347-39,#u1347-41,#u1347-42,#u1347-44,#u1347-45,#u1347-47,#u1347-48,#u1347-50,#u1347-51,#u1347-53,#u1347-54,#u1347-56,#u1347-57,#u1347-59,#u1347-60,#u1347-62,#u1347-63,#u1347-65,#u1347-66,#u1347-68,#u1347-69,#u1347-71,#u1347-72,#u1347-74,#u1347-75,#u1347-77,#u1347-78,#u1347-80,#u1347-81,#u1347-83,#u1347-84,#u1347-86,#u1347-87,#u1347-89,#u1347-90,#u1347-92,#u1347-93,#u1347-95,#u1347-96,#u1347-98,#u1347-99,#u1347-101,#u1347-102,#u1347-104,#u1347-105,#u1347-107,#u1347-108,#u1347-110,#u1347-111,#u1347-113,#u1347-114,#u1347-116,#u1347-118,#u1347-119,#u1347-121,#u1347-122,#u1347-124,#u1347-125,#u1347-127,#u1347-128,#u1347-130,#u1347-131,#u1347-133,#u1347-134,#u1347-136,#u1347-137,#u1347-139,#u1347-140,#u1347-142,#u1347-143,#u1347-145,#u1347-146,#u1347-148,#u1347-149,#u1347-151,#u1347-152,#u1347-154,#u1347-155,#u1347-157,#u1347-158,#u1347-160,#u1347-161,#u1347-163,#u1347-164,#u1347-166,#u1347-167,#u1347-169,#u1347-170,#u1347-172,#u1347-173,#u1347-175,#u1347-176,#u1347-178,#u1347-179,#u1347-181,#u1347-182,#u1347-184,#u1347-185,#u1347-187,#u1347-188,#u1347-190,#u1347-191,#u1347-193,#u1347-194,#u1347-196,#u1347-198,#u1347-199,#u1347-201,#u1347-202,#u1347-204,#u1347-205,#u1347-207,#u1347-208,#u1347-210,#u1347-212,#u1347-213,#u1347-215,#u1347-216,#u1347-218,#u1347-219,#u1347-221
{
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 300;
}

body
{
	position: relative;
	min-width: 382px;
}

#page .verticalspacer
{
	clear: both;
}

