.version.stagefive /* version checker */
{
	color: #000014;
	background-color: #D67B80;
}

@-ms-viewport
{
	width: 382px;
}

@-webkit-viewport
{
	width: 382px;
}

@-o-viewport
{
	width: 382px;
}

@-moz-viewport
{
	width: 382px;
}

@viewport
{
	width: 382px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 333px;
	min-height: 428px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #F7931E;
	background-color: transparent;
	margin-top: -1px;
	padding: 71px 21px 71px 26px;
}

#u1348-280
{
	z-index: 2;
	width: 333px;
	background-color: transparent;
	color: #000000;
	text-align: justify;
	text-indent: 5px;
	font-family: ubuntu, sans-serif;
	position: relative;
}

#u1348-2
{
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 400;
}

#u1348
{
	text-decoration: underline;
}

#u1348-3,#u1348-5,#u1348-6,#u1348-8,#u1348-9,#u1348-11,#u1348-12,#u1348-14,#u1348-15,#u1348-17,#u1348-18,#u1348-20,#u1348-21,#u1348-23,#u1348-24,#u1348-26,#u1348-27,#u1348-29,#u1348-30,#u1348-32,#u1348-33,#u1348-35,#u1348-36,#u1348-38,#u1348-39,#u1348-41,#u1348-42,#u1348-44,#u1348-45,#u1348-47,#u1348-48,#u1348-50,#u1348-51,#u1348-53,#u1348-54,#u1348-56,#u1348-57,#u1348-59,#u1348-60,#u1348-62,#u1348-63,#u1348-65,#u1348-66,#u1348-68,#u1348-69,#u1348-71,#u1348-72,#u1348-74,#u1348-75,#u1348-77,#u1348-78,#u1348-80,#u1348-81,#u1348-83,#u1348-84,#u1348-86,#u1348-87,#u1348-89,#u1348-90,#u1348-92,#u1348-93,#u1348-95,#u1348-96,#u1348-98,#u1348-99,#u1348-101,#u1348-102,#u1348-104,#u1348-105,#u1348-107,#u1348-108,#u1348-110,#u1348-111,#u1348-113,#u1348-114,#u1348-116,#u1348-117,#u1348-119,#u1348-120,#u1348-122,#u1348-123,#u1348-125,#u1348-126,#u1348-128,#u1348-129,#u1348-131,#u1348-132,#u1348-134,#u1348-135,#u1348-137,#u1348-138,#u1348-140,#u1348-141,#u1348-143,#u1348-144,#u1348-146,#u1348-147,#u1348-148,#u1348-149,#u1348-151,#u1348-153,#u1348-154,#u1348-156,#u1348-157,#u1348-159,#u1348-160,#u1348-162,#u1348-163,#u1348-165,#u1348-166,#u1348-168,#u1348-169,#u1348-171,#u1348-172,#u1348-174,#u1348-176,#u1348-177,#u1348-179,#u1348-180,#u1348-182,#u1348-183,#u1348-185,#u1348-186,#u1348-188,#u1348-189,#u1348-191,#u1348-192,#u1348-194,#u1348-195,#u1348-197,#u1348-198,#u1348-200,#u1348-201,#u1348-203,#u1348-204,#u1348-206,#u1348-208,#u1348-210,#u1348-211,#u1348-213,#u1348-214,#u1348-216,#u1348-217,#u1348-219,#u1348-220,#u1348-222,#u1348-223,#u1348-225,#u1348-226,#u1348-228,#u1348-229,#u1348-231,#u1348-232,#u1348-234,#u1348-236,#u1348-237,#u1348-239,#u1348-240,#u1348-242,#u1348-243,#u1348-245,#u1348-246,#u1348-248,#u1348-250,#u1348-252,#u1348-253,#u1348-255,#u1348-256,#u1348-258,#u1348-259,#u1348-261,#u1348-263,#u1348-264,#u1348-266,#u1348-267,#u1348-269,#u1348-270,#u1348-272,#u1348-273,#u1348-275,#u1348-276,#u1348-278
{
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 300;
}

body
{
	position: relative;
	min-width: 382px;
}

#page .verticalspacer
{
	clear: both;
}

