.version.zeleven /* version checker */
{
	color: #0000FF;
	background-color: #BF4D57;
}

@-ms-viewport
{
	width: 382px;
}

@-webkit-viewport
{
	width: 382px;
}

@-o-viewport
{
	width: 382px;
}

@-moz-viewport
{
	width: 382px;
}

@viewport
{
	width: 382px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 353px;
	min-height: 428px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #F7931E;
	background-color: transparent;
	margin-top: -1px;
	padding: 71px 11px 71px 16px;
}

#u3496-212
{
	z-index: 2;
	width: 353px;
	min-height: 1548px;
	background-color: transparent;
	color: #000000;
	text-align: justify;
	text-indent: 5px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
}

#u3496-2,#u3496-3,#u3496-5,#u3496-6,#u3496-8,#u3496-9,#u3496-11,#u3496-12,#u3496-14,#u3496-15,#u3496-17,#u3496-18,#u3496-20,#u3496-21,#u3496-23,#u3496-24,#u3496-26,#u3496-27,#u3496-29,#u3496-30,#u3496-32,#u3496-33,#u3496-35,#u3496-36,#u3496-38,#u3496-39,#u3496-41,#u3496-42,#u3496-44,#u3496-45,#u3496-47,#u3496-48,#u3496-50,#u3496-51,#u3496-53,#u3496-54,#u3496-56,#u3496-57,#u3496-59,#u3496-60,#u3496-62,#u3496-63,#u3496-65,#u3496-66,#u3496-68,#u3496-69,#u3496-71,#u3496-72,#u3496-74,#u3496-75,#u3496-77,#u3496-78,#u3496-80,#u3496-81,#u3496-83,#u3496-84,#u3496-86,#u3496-87,#u3496-89,#u3496-90,#u3496-92,#u3496-93,#u3496-95,#u3496-96,#u3496-98,#u3496-99,#u3496-101,#u3496-102,#u3496-104,#u3496-105,#u3496-107,#u3496-108,#u3496-110,#u3496-111,#u3496-113,#u3496-114,#u3496-116,#u3496-117,#u3496-119,#u3496-120,#u3496-122,#u3496-123,#u3496-125,#u3496-126,#u3496-128,#u3496-129,#u3496-131,#u3496-132,#u3496-134,#u3496-135,#u3496-137,#u3496-138,#u3496-140,#u3496-141,#u3496-143,#u3496-144,#u3496-146,#u3496-147,#u3496-149,#u3496-150,#u3496-152,#u3496-153,#u3496-155,#u3496-156,#u3496-158,#u3496-159,#u3496-161,#u3496-162,#u3496-164,#u3496-165,#u3496-167,#u3496-168,#u3496-170,#u3496-171,#u3496-173,#u3496-174,#u3496-176,#u3496-177,#u3496-179,#u3496-180,#u3496-182,#u3496-183,#u3496-185,#u3496-186,#u3496-188,#u3496-189,#u3496-191,#u3496-192,#u3496-194,#u3496-195,#u3496-197,#u3496-198,#u3496-200,#u3496-201,#u3496-203,#u3496-204,#u3496-205,#u3496-207,#u3496-208,#u3496-210
{
	padding-right: 10px;
	padding-left: 10px;
}

body
{
	position: relative;
	min-width: 382px;
}

#page .verticalspacer
{
	clear: both;
}

