.version.zfive /* version checker */
{
	color: #0000EC;
	background-color: #83D241;
}

@-ms-viewport
{
	width: 382px;
}

@-webkit-viewport
{
	width: 382px;
}

@-o-viewport
{
	width: 382px;
}

@-moz-viewport
{
	width: 382px;
}

@viewport
{
	width: 382px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 353px;
	min-height: 428px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #F7931E;
	background-color: transparent;
	margin-top: -1px;
	padding: 71px 11px 71px 16px;
}

#u3489-284
{
	z-index: 2;
	width: 353px;
	min-height: 1548px;
	background-color: transparent;
	color: #000000;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
}

#u3489-2,#u3489-4,#u3489-5,#u3489-7,#u3489-8,#u3489-10,#u3489-11,#u3489-13,#u3489-14,#u3489-16,#u3489-17,#u3489-19,#u3489-20,#u3489-22,#u3489-23,#u3489-25,#u3489-26,#u3489-28,#u3489-29,#u3489-31,#u3489-32,#u3489-34,#u3489-35,#u3489-37,#u3489-38,#u3489-40,#u3489-41,#u3489-43,#u3489-44,#u3489-46,#u3489-47,#u3489-49,#u3489-50,#u3489-52,#u3489-53,#u3489-55,#u3489-56,#u3489-58,#u3489-59,#u3489-61,#u3489-62,#u3489-64,#u3489-65,#u3489-67,#u3489-68,#u3489-70,#u3489-71,#u3489-73,#u3489-74,#u3489-76,#u3489-77,#u3489-79,#u3489-80,#u3489-82,#u3489-83,#u3489-85,#u3489-86,#u3489-88,#u3489-89,#u3489-91,#u3489-92,#u3489-94,#u3489-95,#u3489-97,#u3489-98,#u3489-100,#u3489-101,#u3489-103,#u3489-104,#u3489-106,#u3489-107,#u3489-109,#u3489-110,#u3489-112,#u3489-113,#u3489-115,#u3489-116,#u3489-118,#u3489-119,#u3489-121,#u3489-122,#u3489-124,#u3489-125,#u3489-127,#u3489-128,#u3489-130,#u3489-131,#u3489-133,#u3489-134,#u3489-136,#u3489-137,#u3489-139,#u3489-140,#u3489-142,#u3489-143,#u3489-145,#u3489-146,#u3489-148,#u3489-149,#u3489-151,#u3489-152,#u3489-154,#u3489-155,#u3489-157,#u3489-158,#u3489-160,#u3489-161,#u3489-163,#u3489-164,#u3489-166,#u3489-167,#u3489-169,#u3489-170,#u3489-172,#u3489-173,#u3489-175,#u3489-176,#u3489-178,#u3489-179,#u3489-181,#u3489-182,#u3489-184,#u3489-185,#u3489-187,#u3489-188,#u3489-190,#u3489-191,#u3489-193,#u3489-194,#u3489-196,#u3489-197,#u3489-199,#u3489-200,#u3489-202,#u3489-203,#u3489-205,#u3489-206,#u3489-208,#u3489-209,#u3489-211,#u3489-212,#u3489-214,#u3489-215,#u3489-217,#u3489-218,#u3489-220,#u3489-221,#u3489-223,#u3489-224,#u3489-226,#u3489-227,#u3489-229,#u3489-230,#u3489-232,#u3489-233,#u3489-235,#u3489-236,#u3489-238,#u3489-239,#u3489-241,#u3489-242,#u3489-244,#u3489-245,#u3489-247,#u3489-248,#u3489-250,#u3489-251,#u3489-253,#u3489-254,#u3489-256,#u3489-257,#u3489-259,#u3489-260,#u3489-262,#u3489-263,#u3489-265,#u3489-266,#u3489-268,#u3489-269,#u3489-271,#u3489-272,#u3489-274,#u3489-275,#u3489-276,#u3489-277,#u3489-279,#u3489-281
{
	text-align: justify;
	text-indent: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

#u3489-282
{
	text-transform: none;
	letter-spacing: 0px;
}

body
{
	position: relative;
	min-width: 382px;
}

#page .verticalspacer
{
	clear: both;
}

