.version.zfour /* version checker */
{
	color: #0000F9;
	background-color: #02F1F0;
}

@-ms-viewport
{
	width: 382px;
}

@-webkit-viewport
{
	width: 382px;
}

@-o-viewport
{
	width: 382px;
}

@-moz-viewport
{
	width: 382px;
}

@viewport
{
	width: 382px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 353px;
	min-height: 428px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #F7931E;
	background-color: transparent;
	margin-top: -1px;
	padding: 71px 11px 71px 16px;
}

#u3488-296
{
	z-index: 2;
	width: 353px;
	min-height: 1548px;
	background-color: transparent;
	color: #000000;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
}

#u3488-2,#u3488-4,#u3488-5,#u3488-7,#u3488-8,#u3488-10,#u3488-11,#u3488-13,#u3488-14,#u3488-16,#u3488-17,#u3488-19,#u3488-20,#u3488-22,#u3488-23,#u3488-25,#u3488-26,#u3488-28,#u3488-29,#u3488-31,#u3488-32,#u3488-34,#u3488-35,#u3488-37,#u3488-38,#u3488-40,#u3488-41,#u3488-43,#u3488-44,#u3488-46,#u3488-47,#u3488-49,#u3488-50,#u3488-52,#u3488-53,#u3488-55,#u3488-56,#u3488-58,#u3488-59,#u3488-61,#u3488-62,#u3488-64,#u3488-65,#u3488-67,#u3488-68,#u3488-70,#u3488-71,#u3488-73,#u3488-74,#u3488-76,#u3488-77,#u3488-79,#u3488-80,#u3488-82,#u3488-83,#u3488-85,#u3488-86,#u3488-88,#u3488-89,#u3488-91,#u3488-92,#u3488-94,#u3488-95,#u3488-97,#u3488-98,#u3488-100,#u3488-101,#u3488-103,#u3488-104,#u3488-106,#u3488-107,#u3488-109,#u3488-110,#u3488-112,#u3488-113,#u3488-115,#u3488-116,#u3488-118,#u3488-119,#u3488-121,#u3488-122,#u3488-124,#u3488-125,#u3488-127,#u3488-128,#u3488-130,#u3488-131,#u3488-133,#u3488-134,#u3488-136,#u3488-137,#u3488-139,#u3488-140,#u3488-142,#u3488-143,#u3488-145,#u3488-146,#u3488-148,#u3488-149,#u3488-151,#u3488-152,#u3488-154,#u3488-155,#u3488-157,#u3488-158,#u3488-160,#u3488-161,#u3488-163,#u3488-164,#u3488-166,#u3488-167,#u3488-169,#u3488-170,#u3488-172,#u3488-173,#u3488-175,#u3488-176,#u3488-178,#u3488-179,#u3488-181,#u3488-182,#u3488-184,#u3488-185,#u3488-187,#u3488-188,#u3488-190,#u3488-191,#u3488-193,#u3488-194,#u3488-196,#u3488-197,#u3488-199,#u3488-200,#u3488-202,#u3488-203,#u3488-205,#u3488-206,#u3488-208,#u3488-209,#u3488-211,#u3488-212,#u3488-214,#u3488-215,#u3488-217,#u3488-218,#u3488-220,#u3488-221,#u3488-223,#u3488-224,#u3488-226,#u3488-227,#u3488-229,#u3488-230,#u3488-232,#u3488-233,#u3488-235,#u3488-236,#u3488-238,#u3488-239,#u3488-241,#u3488-242,#u3488-244,#u3488-245,#u3488-247,#u3488-248,#u3488-250,#u3488-251,#u3488-253,#u3488-254,#u3488-256,#u3488-257,#u3488-259,#u3488-260,#u3488-262,#u3488-263,#u3488-265,#u3488-266,#u3488-268,#u3488-269,#u3488-271,#u3488-272,#u3488-274,#u3488-275,#u3488-277,#u3488-278,#u3488-280,#u3488-281,#u3488-283,#u3488-284,#u3488-286,#u3488-287,#u3488-288,#u3488-289,#u3488-291,#u3488-293
{
	text-align: justify;
	text-indent: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

#u3488-294
{
	text-transform: none;
	letter-spacing: 0px;
}

body
{
	position: relative;
	min-width: 382px;
}

#page .verticalspacer
{
	clear: both;
}

