.version.zsix /* version checker */
{
	color: #000010;
	background-color: #502EDD;
}

@-ms-viewport
{
	width: 382px;
}

@-webkit-viewport
{
	width: 382px;
}

@-o-viewport
{
	width: 382px;
}

@-moz-viewport
{
	width: 382px;
}

@viewport
{
	width: 382px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 353px;
	min-height: 428px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #F7931E;
	background-color: transparent;
	margin-top: -1px;
	padding: 71px 11px 71px 16px;
}

#u3490-303
{
	z-index: 2;
	width: 353px;
	min-height: 1548px;
	background-color: transparent;
	color: #000000;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
}

#u3490-2,#u3490-3,#u3490-5,#u3490-6,#u3490-8,#u3490-9,#u3490-11,#u3490-12,#u3490-14,#u3490-15,#u3490-17,#u3490-18,#u3490-20,#u3490-21,#u3490-23,#u3490-24,#u3490-26,#u3490-27,#u3490-29,#u3490-30,#u3490-32,#u3490-33,#u3490-35,#u3490-36,#u3490-38,#u3490-39,#u3490-41,#u3490-42,#u3490-44,#u3490-45,#u3490-47,#u3490-48,#u3490-50,#u3490-51,#u3490-53,#u3490-54,#u3490-56,#u3490-57,#u3490-59,#u3490-60,#u3490-62,#u3490-63,#u3490-65,#u3490-66,#u3490-68,#u3490-69,#u3490-71,#u3490-72,#u3490-74,#u3490-75,#u3490-77,#u3490-78,#u3490-80,#u3490-81,#u3490-83,#u3490-84,#u3490-86,#u3490-87,#u3490-89,#u3490-90,#u3490-92,#u3490-93,#u3490-95,#u3490-96,#u3490-98,#u3490-99,#u3490-101,#u3490-102,#u3490-104,#u3490-105,#u3490-107,#u3490-108,#u3490-110,#u3490-111,#u3490-113,#u3490-114,#u3490-116,#u3490-117,#u3490-119,#u3490-120,#u3490-122,#u3490-123,#u3490-125,#u3490-126,#u3490-128,#u3490-129,#u3490-131,#u3490-132,#u3490-134,#u3490-135,#u3490-137,#u3490-138,#u3490-140,#u3490-141,#u3490-143,#u3490-144,#u3490-146,#u3490-147,#u3490-149,#u3490-150,#u3490-152,#u3490-153,#u3490-155,#u3490-156,#u3490-158,#u3490-159,#u3490-161,#u3490-162,#u3490-164,#u3490-165,#u3490-167,#u3490-168,#u3490-170,#u3490-171,#u3490-173,#u3490-174,#u3490-176,#u3490-177,#u3490-179,#u3490-180,#u3490-182,#u3490-183,#u3490-185,#u3490-186,#u3490-188,#u3490-189,#u3490-191,#u3490-192,#u3490-194,#u3490-195,#u3490-197,#u3490-198,#u3490-200,#u3490-201,#u3490-203,#u3490-204,#u3490-206,#u3490-207,#u3490-209,#u3490-210,#u3490-212,#u3490-213,#u3490-215,#u3490-216,#u3490-218,#u3490-219,#u3490-221,#u3490-222,#u3490-224,#u3490-225,#u3490-227,#u3490-228,#u3490-230,#u3490-231,#u3490-233,#u3490-234,#u3490-236,#u3490-237,#u3490-239,#u3490-240,#u3490-242,#u3490-243,#u3490-245,#u3490-246,#u3490-248,#u3490-249,#u3490-251,#u3490-252,#u3490-254,#u3490-255,#u3490-257,#u3490-258,#u3490-260,#u3490-261,#u3490-263,#u3490-264,#u3490-266,#u3490-267,#u3490-269,#u3490-270,#u3490-272,#u3490-273,#u3490-275,#u3490-276,#u3490-278,#u3490-279,#u3490-281,#u3490-282,#u3490-284,#u3490-285,#u3490-287,#u3490-288,#u3490-290,#u3490-291,#u3490-293,#u3490-294,#u3490-295,#u3490-296,#u3490-298,#u3490-300
{
	text-align: justify;
	text-indent: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

#u3490-301
{
	text-transform: none;
	letter-spacing: 0px;
}

body
{
	position: relative;
	min-width: 382px;
}

#page .verticalspacer
{
	clear: both;
}

