.version.zthree /* version checker */
{
	color: #0000F2;
	background-color: #E77FD2;
}

@-ms-viewport
{
	width: 382px;
}

@-webkit-viewport
{
	width: 382px;
}

@-o-viewport
{
	width: 382px;
}

@-moz-viewport
{
	width: 382px;
}

@viewport
{
	width: 382px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 353px;
	min-height: 428px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #F7931E;
	background-color: transparent;
	margin-top: -1px;
	padding: 71px 11px 71px 16px;
}

#u3487-342
{
	z-index: 2;
	width: 353px;
	min-height: 1548px;
	background-color: transparent;
	color: #000000;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
}

#u3487-2,#u3487-3,#u3487-5,#u3487-6,#u3487-8,#u3487-9,#u3487-11,#u3487-12,#u3487-14,#u3487-15,#u3487-17,#u3487-18,#u3487-20,#u3487-21,#u3487-23,#u3487-24,#u3487-26,#u3487-27,#u3487-29,#u3487-30,#u3487-32,#u3487-33,#u3487-35,#u3487-36,#u3487-38,#u3487-39,#u3487-41,#u3487-42,#u3487-44,#u3487-45,#u3487-47,#u3487-48,#u3487-50,#u3487-51,#u3487-53,#u3487-54,#u3487-56,#u3487-57,#u3487-59,#u3487-60,#u3487-62,#u3487-63,#u3487-65,#u3487-66,#u3487-68,#u3487-69,#u3487-71,#u3487-72,#u3487-74,#u3487-75,#u3487-77,#u3487-78,#u3487-80,#u3487-81,#u3487-83,#u3487-84,#u3487-86,#u3487-87,#u3487-89,#u3487-90,#u3487-92,#u3487-93,#u3487-95,#u3487-96,#u3487-98,#u3487-99,#u3487-101,#u3487-102,#u3487-104,#u3487-105,#u3487-107,#u3487-108,#u3487-110,#u3487-111,#u3487-113,#u3487-114,#u3487-116,#u3487-117,#u3487-119,#u3487-120,#u3487-122,#u3487-123,#u3487-125,#u3487-126,#u3487-128,#u3487-129,#u3487-131,#u3487-132,#u3487-134,#u3487-135,#u3487-137,#u3487-138,#u3487-140,#u3487-141,#u3487-143,#u3487-144,#u3487-146,#u3487-147,#u3487-149,#u3487-150,#u3487-152,#u3487-153,#u3487-155,#u3487-156,#u3487-158,#u3487-159,#u3487-161,#u3487-162,#u3487-164,#u3487-165,#u3487-167,#u3487-168,#u3487-170,#u3487-171,#u3487-173,#u3487-174,#u3487-176,#u3487-177,#u3487-179,#u3487-180,#u3487-182,#u3487-183,#u3487-185,#u3487-186,#u3487-188,#u3487-189,#u3487-191,#u3487-192,#u3487-194,#u3487-195,#u3487-197,#u3487-198,#u3487-200,#u3487-201,#u3487-203,#u3487-204,#u3487-206,#u3487-207,#u3487-209,#u3487-210,#u3487-212,#u3487-213,#u3487-215,#u3487-216,#u3487-218,#u3487-219,#u3487-221,#u3487-222,#u3487-224,#u3487-225,#u3487-227,#u3487-228,#u3487-230,#u3487-231,#u3487-233,#u3487-234,#u3487-236,#u3487-237,#u3487-239,#u3487-240,#u3487-242,#u3487-243,#u3487-245,#u3487-246,#u3487-248,#u3487-249,#u3487-251,#u3487-252,#u3487-254,#u3487-255,#u3487-257,#u3487-258,#u3487-260,#u3487-261,#u3487-263,#u3487-264,#u3487-266,#u3487-267,#u3487-269,#u3487-270,#u3487-272,#u3487-273,#u3487-275,#u3487-276,#u3487-278,#u3487-279,#u3487-281,#u3487-282,#u3487-284,#u3487-285,#u3487-287,#u3487-288,#u3487-290,#u3487-291,#u3487-293,#u3487-294,#u3487-296,#u3487-297,#u3487-299,#u3487-300,#u3487-302,#u3487-303,#u3487-305,#u3487-306,#u3487-308,#u3487-309,#u3487-311,#u3487-312,#u3487-314,#u3487-315,#u3487-317,#u3487-318,#u3487-320,#u3487-321,#u3487-323,#u3487-324,#u3487-326,#u3487-327,#u3487-329,#u3487-330,#u3487-332,#u3487-333,#u3487-334,#u3487-335,#u3487-337,#u3487-339
{
	text-align: justify;
	text-indent: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

#u3487-340
{
	text-transform: none;
	letter-spacing: 0px;
}

body
{
	position: relative;
	min-width: 382px;
}

#page .verticalspacer
{
	clear: both;
}

